a
{
    color: #EB5D26;
}

a:visited
{
    color: #98967B;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #98967B;
}

.top-banner
{
    height: 142px;
    background-color: #074F5F;
    position: relative;
    padding-left: 90px;
    z-index: 100;
    position: relative;
    min-width: 600px; /* to avoid collision with nav */
}

.title
{
    font-family: RabbitOnTheMoon;
    letter-spacing: -3px;
    font-size: 45pt;
    color: #92CFAB;
    text-shadow: 2px 2px #074F5F;
    white-space: nowrap;

    position: absolute;
    bottom: -22pt;
}

.main-copy
{
    padding: 50px 90px 20px 90px;
    z-index: 10;

    background-color: #F8F8E5;

    font-family: BrookeShappell8;
    color: #074F5F;
    font-size: 20pt;
    line-height: 85%;
}

.main-copy p
{
    margin: 0 0 12pt 0;
}

.small-copy
{
    font-size: 14pt;
}

.navbox {
    width: 100%;
    text-align: center;
    background-color: #303030;
}

.navbox iframe {
    width: 400px;
    height: 200px;
    border: 0;
}

section
{
    background-color: #F8F8E5;

    font-family: BrookeShappell8;
    font-size: 20pt;
    color: #074F5F;

    padding: 20pt 90px 20pt 90px;
    margin: 36pt 0 48pt 0;

    border: 0 solid #EB5D26;
    border-top-width: 3px;
    border-bottom-width: 7px;
}

header
{
    color: #F8F8E5;
    font-family: RabbitOnTheMoon;
    font-size: 30pt;
    text-shadow: 2px 2px #EB5D26;
    letter-spacing: -3px;

    position: relative;
    top: -22pt;
    line-height: 0pt;
}

.caption
{
    margin-top: 6pt;
    margin-bottom: 3pt;
    font-size: 14pt;
}

@media (max-width: 981px)
{
    .top-banner
    {
        height: 40px;
        padding: 12pt;
    }

    .main-copy
    {
        padding: 32pt 12pt 12pt 12pt;
    }

    section
    {
        padding: 20pt 12pt 20pt 12pt;
        margin: 36pt 0 36pt 0;
    }
}