a
{
    color: #EB5D26;
}

a:visited
{
    color: #98967B;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #303030;
}

.top-banner
{
    height: 142px;
    background-color: #074F5F;
    position: relative;
    padding-left: 90px;
    z-index: 100;
    position: relative;
    min-width: 600px; /* to avoid collision with nav */
}

.title
{
    font-family: RabbitOnTheMoon;
    letter-spacing: -3px;
    font-size: 45pt;
    color: #92CFAB;
    text-shadow: 2px 2px #074F5F;
    white-space: nowrap;

    position: absolute;
    bottom: -22pt;
}

.main-copy
{
    padding: 50px 90px 20px 90px;
    z-index: 10;

    background-color: #F8F8E5;

    font-family: BrookeShappell8;
    color: #074F5F;
    font-size: 20pt;
    line-height: 85%;
}

.main-copy p
{
    margin: 0 0 12pt 0;
}

.small-copy
{
    font-size: 14pt;
}

.navbox {
    right: 90px;
    bottom: -10pt;
    position: absolute;
}

.navbox iframe {
    width: 400pt;
    height: 32pt;
    border: 0;
}

@media (max-width: 981px)
{
    .top-banner
    {
        height: 40px;
        padding: 12pt;
    }

    .main-copy
    {
        padding: 32pt 12pt 12pt 12pt;
    }

    .navbox {
        right: 12pt;
    }
}